body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: 'Futura', sans-serif;
    overflow: hidden;
}

.chat-container {
    max-height: 100%; 
    overflow-y: auto;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    transition: margin-top 0.3s ease;
}

.chat-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    margin-top: 40px;
    color: #333;
}

.chat-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: #f5f5f5;
    padding: 10px;
    transition: transform 0.3s ease;
}

.chat-input::placeholder {
    color: #999;
}

.chat-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #f5f5f5;
    font-size: 16px;
    margin-right: 10px;
    font-family: 'Futura', sans-serif;
    text-align: left;
    vertical-align: top;
    color: #333;
}

.chat-button {
    background-color: #0356fc;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.button-content {
    color: #fff;
    font-size: 24px;
}

.loading-icon {
    display: none; 
    border: 2px solid #999;
    border-top-color: #fff; 
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.suggestions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.suggestions-container.up {
    transform: translateY(-80px);
}

.suggestions-container .try-asking {
    margin-right: 5px;
    margin-left: 0px;
    color: #0356fc;
}

.suggestions-container .suggestion {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 2px 8px;
    margin-right: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: left; 
    color: #999;
}

.response-container {
    margin-top: 30px;
    margin-bottom: 40px;
    max-height: 360px;
    overflow-y: auto; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.response-container::-webkit-scrollbar {
    display: none;
}

.prompt-text {
    color: #333;
}

.user-message {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.response-text {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}


.up {
    transform: translateY(-300px); 
    transition: transform 0.3s ease;
}

pre, code {
    background-color: #333; 
    border: none; 
    font-family: Consolas, 'Courier New', Courier, monospace;
    color: #fff;
    padding: 3px; 
    margin: 10px 0; 
    overflow-x: auto;
    cursor: pointer;
}

.pin-icon {
    cursor: pointer;
    margin-right: 5px;
    color: #999;
    font-size: 16px;
    margin-left: 10px;
}

#file-preview {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 10px;
    display: none; 
    color: #999;
}

.blue-circle {
    width: 40px;
    height: 40px;
    background-color: #0356fc;
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s;
}

.white-gear {
    color: white; 
    font-size: 16px; 
}

.settings-panel {
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: -300px; 
    transition: left 0.3s;
}

.blue-circle.active {
    left: 320px; 
}

.main-content.shifted {
    transform: translateX(300px);
    transition: transform 0.3s ease;
}